.content{
    display: flex;
    align-items: flex-start;
}
.Internalcontent{
    z-index:-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding-bottom: 2%;
    padding-left:2%;
    height: 100%;
    width:1150px;
}
.carousal {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
 }
  .carousel{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
  }
  .footerelement{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 5px;
  }
  a{
      text-decoration: none;
      color:grey;
  }
  .links{
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      column-gap: 100px;
  }
  .footer{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: flex-start;
  }
  .about{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .about p{
      padding:0 230px;
      font-size: 14px;
      text-align: justify;
  }