.SecondNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 38px;
    flex-wrap: wrap;
    color:grey;
    margin-top: 75px;
    z-index: 1100
}
.list{
    list-style: none;
    border-bottom:2px solid white;
}
.list:hover{
    border-bottom:2px solid red;
}
li{
    list-style: none;
}
.adjust{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width:1000px){
    .SecondNav{
        display:none;
    }
}